asgiref==3.9.1
Django==5.2.6
gunicorn==23.0.0
packaging==25.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0

Django>=4.2,<5.3
gunicorn
whitenoise

django 
gunicorn 
whitenoise 
psycopg2-binary 
requests 
urllib3 
python-dotenv 
selenium
